# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Keep environment variables out of version control
.env
.env*
!.env.example

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
coverage/
.cache/

# Prisma
prisma/migrations/dev.db
prisma/migrations/.DS_Store

# Editor files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
